*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background:none;
}
header
{
	width: 100%;
	height: auto;
	background-color: rgba(197,239,247,1);
	position: relative;
	margin-top: 1%;
}
.header-wrapper
{
	width: 100%;
	height: 80px;
	margin-top: 15px;
}

.nav-search-wrapper
{
	height: 45%;
	width: 100%;
	margin: 0 auto;
}
.navigation
{
	width: 75%;
	height: 100%;
	float: left;
	padding-left: 15%;
	margin-top: 1%;
}
.navigation ul
{
	padding: 0;
}
.navigation ul li
{
	list-style-type: none;
	display: inline-block;
	margin-left: 30px;
	text-align: center;
	line-height: 50px;
}
.navigation ul li a
{
	text-decoration: none;
	font-size: 18px;
	color: black;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.navigation ul li a:hover
{
	border-bottom: 1px solid white;
}
.navigation .fa
{
	margin-right: 8px;
}
.sub-menu 
{
	display: none;
}
.navigation ul li:hover .sub-menu
{
	display:block;
	position: absolute;
	margin-top: 2px;
	background-color: rgba(197,239,247,1);
	box-shadow: 0 15px 25px rgba(1,1,1,.9);
	border-radius: 10%;
	z-index: 1;

}
.navigation ul li:hover .sub-menu ul
{
	display:block;
	margin: 5%;
}
.navigation ul li:hover .sub-menu ul li
{
	width: 90px;
	padding: -2px;
	border-bottom: 1px dotted #000;
	
	border-radius: 0;
	text-align: left;
	margin-left: -1px;
}
.navigation ul li:hover .sub-menu ul li:last-child
{
	border-bottom: none;
}
.navigation ul li:hover .sub-menu ul li a:hover
{
	color: #b2ff00;
}
/*search box*/

.search-btn
{
	width: 25%;
	height: 100%;
	float: right;

}
.search-btn input[type="text"]
{
	padding: 10px 30px;
	margin-left: -180px;
	background: black;
	border: 1px solid #660099;
	box-shadow: 0 15px 25px rgba(1,1,1,.2); 
	margin-top: 23px;
	color: #000;
	font-size: 15px;
	border-radius: 5%; 
	background: rgba(0,0,0,.2);
}
.search-btn a
{
	color: #b2ff00;
	font-size: 15px;
	margin-left: 50px;
}
@media only screen and (max-width: 980px)
{
	header {
		overflow:hidden;
	}
	.header-wrapper
	{
		width: 100%;
	}
	.nav-search-wrapper
	{
		height: 118px;
		border-bottom: 0;
	}
	.search-btn
	{
		width: 100%;
	
 		top: 59px;
 		position: absolute;
 		display: inline-block;
	}
	.navigation
	{
		width: 100%;
	}
	.navigation ul
	{
		margin: 10px 0;
		width: 100%;
	}
	.sub-menu ul li
	{
		height: 57px;
		width: 100%;
	}
}
/*bg image*/
.loo img
{
	height: 150%;
	width: 100%;
	position: absolute;
	opacity: 0.6;
	overflow: hidden;
	
}
/*thawnthu in tan na*/
.container
{
	width: 80%;
	height: 100%;
	margin: 20px auto;
}
h1
{
	font-family: tahoma, sans-serif;
	text-transform: uppercase;
	border-left: 5px ;
	margin: 10px;
	position: relative;
}
.book
{
	width: 48%;
	float: left;
	background-color: rgba(197,239,247,1);
	margin: 10px 10px;
	padding: 15px;
	position: relative;
	box-shadow:   0 15px 25px rgba(0,0,0,.5);
 
}
.image
{
	width: 15%;
	float: left;
	line-height: 100px;
	margin-top: 3%;
}
.image img
{
	width: 180%;
	height:180%;
	position: relative;

}
button
{
	background: #1abc9c;
	border-radius: 8px;
	padding: 7px 7px;
	color: #fff;
	float: right;
	cursor: pointer;
}
.content
{
	margin-left: 40%;
	margin-top: 5%;
}
.content p
{
	letter-spacing: 2px;
	overflow: hidden;
}
@media only screen and (max-width: 980px)
{
	.book
	{
		width: 100%;
	}
	.content p
	{
		overflow: hidden;
	}
}
/*footer section*/

.main-footer
{
	background-color: rgba(197,239,247,1);
	height: 300px;
	width: 100%;
	position: absolute;
	top: 150%;
	left: 0;
	right: 0;
	bottom: 0;
	font-family:'Times New Roman', Times, serif;
}
.first-section
{
	width: 32%;
	height: 100%;
	float: left;
}
.first-section h1
{
	text-align: center;
	color: black;
	font-family:'Times New Roman', Times, serif;

}
.first-section  p
{
	color:black;
	text-align:center;
	padding-left:30px;
	letter-spacing:1px;
	padding-top: 5%;
}
.second-section
{
	width: 32%;
	height: 100%;
	float: left;
}
.third-section
{
	width: 32%;
	height: 100%;
	float: left;
}
.third-section h1
{
	font-family:'Times New Roman', Times, serif;
}
.social-links ul li 
{
	list-style: none;
}
.social-links ul li a
{
	text-decoration: none;
	font-size: 15px;
	color: black;
	letter-spacing: 1px;
}
.second-section h1
{
	text-align: center;
	color: black;
	font-family:'Times New Roman', Times, serif;
}
.second-section ul li
{
	list-style: none;
	padding-top: 1%;
	padding-left:20px;
	text-align: center;
}
.second-section ul li a
{
	text-decoration: none;
	font-size: 18px;
	color: black;
	letter-spacing: 1px;	

}
@media only screen and (max-width: 980px)
{
	.main-footer
	{
	overflow-x:hidden;
	position: relative;
	}

}
